<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) , :id => "edit" %> |
<%= link_to 'Back', books_path , :id => "back" %>
