<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @author, remote: true do |form| %>
      <div class="modal-body">   
        <div class="form-group">
          <%= form.label :name , class:"control-label"%>
          <%= form.text_field :name, class:"form-control" %>
        </div>
        
        <div class="actions">
          <%= form.submit 'Submit', :class => 'btn btn-success'%>
        </div>
      </div>
    <% end %>
  </div>
</div>