<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<div id="comments">
	<h1>Comments</h1>
	<h1>Post Check : <%= @post.title %></h1>
	 <%= render @post.comments %>
	 <h2>Add Comment</h2>
	 <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
