<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><h4 class="modal-title">New Posts</h4></div>
    <%= form_for @post,remote: true do |f| %>
      <div class="modal-body">
         <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this author from being saved:</h2>
              <ul>
               <% @post.errors.full_messages.each do |message| %>
               <li><%= message %></li>
              <% end %>
              </ul>
             </div>
         <% end %> 


        <div class="form-group">
          <%= f.label :name , class:"control-label" %>
          <%= f.text_field :name , class:"form-control" %></div>
       
        <div class="form-group">
          <%= f.label :content ,class:"control-label"%>
          <%= f.text_area :content, class:"form-control" %>
        </div>
       
        <div class="form-group">
          <%= f.label :author_id ,class:"control-label" %><br/>
          <%#= f.collection_select :author_id, Author.all, :id, :name, { :class => "form-control" }%>
          <%= f.select(:author_id, Author.all.pluck(:name,:id), {}, { :class => 'form-control' }) %>
        </div>
        
        <div class="form-group">
          <%= f.label :picture, class:"control-label" %>
          <%= f.file_field :picture, class:"form-control" %>
        </div>
        <div class="tag_fields">
          <%= f.label :tags, class:"control-label" %>
            <%  if @post.tags.count > 0 %>
              <% @post.tags.each_with_index do |tag,index| %> 
                <input type="text" name="post[tags_attributes][<%= index %>][name]" value="<%= tag.name%>" id="post_tags_attributes_<%= index %>_name" class="form-control" style = "margin-top:6px;">
                <input type="hidden" name="post[tags_attributes][<%= index %>][_id]" value="<%= tag.id%>" id="post_tags_attributes_<%= index %>_name"">
                <input type="hidden" name="post[tags_attributes][<%= index %>][_destroy]" value="0" id="post_tags_attributes_<%= index %>_destroy">
               <a id="removetagbutton<%= index %>" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removetag"><span class="glyphicon glyphicon-remove"></span></a> 
                <% end %>       
            <% else %>
                <input type="text" name="post[tags_attributes][0][name]" id="post_tags_attributes_0_name" class="form-control">
                 <input type="hidden" name="post[tags_attributes][0][_destroy]" value="0" id="post_tags_attributes_0_destroy">
                <a id="removetagbutton0" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removetag"><span class="glyphicon glyphicon-remove"></span></a> 
            <% end %>
        </div>  
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="addNewTag">Add Tag</button>
        <%= f.submit 'Submit', :class => 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){

  $("#addNewTag").click(function(e){
    e.preventDefault()
    var c = $('.tag_fields').find('.form-control').length
    $(".tag_fields").append('<input type="text" name="post[tags_attributes]['+ c +'][name]" id="post_tags_attributes_'+c+'_name" class="form-control", style = "margin-top:6px">  <input type="hidden" name="post[tags_attributes]['+ c +'][_destroy]" value="0" id="post_tags_attributes_'+ c +'_destroy"> <a id="removetagbutton'+ c +'" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removetag"><span class="glyphicon glyphicon-remove"></span></a> ');

  });

$('a[name="removetag"]').click(function(){
   var id = $(this).attr('id');
   var c =  id.substr(15,$(this).attr('id').len)
   var d =  '#'+id
   var destroy = '#post_tags_attributes_'+ c +'_destroy'
   var name = '#post_tags_attributes_'+c+'_name'
   $(d).hide()
   $(destroy).val(1)
   $(name).hide()

});
});
</script>