 <% @posts.each do |post| %>
      <tr class="row">
        <td class="col-sm-3"><%= image_tag(post.picture.url, alt: 'Image',size: "300x200" ) if post.picture? %></td>
        <td class="col-sm-2"><%= post.name %></td>
        <td class="col-sm-2"><%= post.content %></td>
        <td class="col-sm-1"><%= post.tags.pluck(:name).join(',') %></td>
        <td class="col-sm-1"><p><strong>Posted By:</strong><%= Author.find_by(id: post.author_id).try(:name) %></p></td>
        <td class="col-sm-1"><%= link_to 'Show', post,class: "btn btn-default" %></td>
        <td class="col-sm-1"><%= link_to 'Edit', edit_post_path(post),remote: true, class: "btn btn-primary",:id => "edit" %></td>
        <td class="col-sm-1"><%= link_to "Delete", post_delete_path(post), remote: true, class: "btn btn-danger",:id => "destroy" %></td>
      </tr>
 <% end %> 