<h1>Posts</h1>
<div class="well">
  <%= link_to "New Post", new_post_path, remote: true, class: "btn btn-default" ,:id => "new_post"%>
</div>
<div class="new-post"></div>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="row">
      <th class="col-sm-3">Image</th>
      <th class="col-sm-2">Name</th>
      <th class="col-sm-2">Content</th>
      <th class="col-sm-1">Tags</th>
      <th class="col-sm-1">Posted By</th>
      <th class="col-sm-1"></th>
      <th class="col-sm-1"></th>
      <th class="col-sm-1"></th>
    </tr>
  </thead>
  <tbody class="post-index">
    <%= render "index" %>
  </tbody>
</table>
<br>
<div id="post-modal" class="modal fade">
</div>
