<p id="notice"><%= notice %></p>
<%= image_tag(@post.picture.url, alt: 'Image') if @post.picture? %>
<p>
  <strong>Title:</strong>
  <%= @post.name %></p>
<p><strong>Body:</strong>
  <%= @post.content %>
</p>
<p><strong>Posted By:</strong>
  <%= Author.find(@post.author_id).name %>
</p>
<div id="comments">
	<h1>Comments</h1>
	<%= render @post.comments %>
	 <h2>Add Comment</h2>
	 <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %>  
<%= link_to 'Back', posts_path %>
